@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,400;0,500;1,400;1,500&display=swap');

* {
  margin: 0;
  margin-left: 16px;
  margin-right: 16px;
  box-sizing: border-box;
  // background-color: #eaebed;
  font-family: 'Ysabeau', sans-serif;
}

nav {
  display: flex;
  gap: 16px;
  padding: 24px;
  justify-content: flex-end;
  font-size: 1.5rem;
}

button {
  padding: 8px 16px;
  font-size: 1rem;
  margin-left: 0;
  border-radius: 5%;
}

button:hover {
  background-color: #d3ddf0;
}

h1 {
  margin-bottom: 16px;
}

footer {
  margin-top: 64px;
  bottom: 0;

  & > div {
    display: flex;
    padding: 16px;
    gap: 16px;

    & > * {
      margin-left: 0;
    }
  }
}
