@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,400;0,500;1,400;1,500&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  background-color: #eaebed;
  font-family: 'Ysabeau', sans-serif;
}

nav {
  display: flex;
  gap: 16px;
  padding: 24px;
  justify-content: flex-end;
  font-size: 1.5rem;
}
