.moreOrLessCake {
  & > button {
    margin-right: 0;
    font-size: revert;
    padding: revert;
  }

  input {
    margin-left: 0;
    margin-right: 0;

    & + button {
      margin-left: 0;
      font-size: revert;
      padding: revert;
    }
  }

  & + form {
    margin-top: 8px;
  }
}
