.cakeCard {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;

  & > div {
    padding-top: 56px;
  }

  button {
    margin-top: auto;
  }
}
