.cakeCard {
  display: flex;
  gap: 48px;
  justify-content: center;
}

.description {
  display: flex;
  flex-direction: column;

  input {
    margin-left: 8px;
  }

  button {
    margin-top: auto;
  }
}
