.cakeCard {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;

  & > div {
    padding-top: 56px;
  }

  button {
    margin-top: auto;
  }
}

.price {
  & > span {
    margin-left: 0;
    margin-right: 0;

    & + span {
      margin-left: 0;
    }
  }
}
